<div class="nav-scroller py-1 mb-2">
    <nav class="nav d-flex justify-content-between">
        <a class="p-2 text-muted" href="{{url_for('game.index')}}">Home</a>
        <a class="p-2 text-muted" href="{{url_for('payment.deposit')}}">Deposit</a>
        <a class="p-2 text-muted" href="{{url_for('payment.withdraw')}}">Withdraw</a>
        <a class="p-2 text-muted" href="{{url_for('game.place_bet')}}">Place a bet</a>
        <a class="p-2 text-muted" href="{{url_for('auth.logout')}}"><b>({{ session['username'] }})</b> Logout </a>
    </nav>
</div>